{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <h1>My very nice homepage</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed tincidunt quam. Duis at lacus pulvinar, pulvinar metus sit amet, convallis leo. Phasellus libero est, vehicula nec consectetur nec, egestas id est. Mauris ante neque, commodo quis augue ut, cursus luctus neque. Donec maximus est orci, at volutpat eros scelerisque et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras semper justo eget tempor elementum.
    </p>
    <p>
        Nullam ac lobortis diam. Phasellus lacinia justo vitae ligula iaculis, sed aliquam augue volutpat. Nam aliquam felis ut libero efficitur, in efficitur tellus sodales. Etiam sit amet magna consequat, aliquam nisi elementum, condimentum velit. Nam nisi lacus, convallis quis porta ac, fermentum quis augue. Nullam sollicitudin orci auctor nibh mattis, non elementum nunc convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse faucibus mi non ipsum sodales mollis. Suspendisse quis ligula faucibus, sollicitudin nisl non, varius nulla.
    </p>
{% endblock %}